[submodule "bashdot"]
	path = bashdot
	url = https://github.com/bashdot/bashdot
[submodule ".vim/pack/minpac/opt/minpac"]
	path = default/vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule "default/zgen"]
	path = default/zgen
	url = https://github.com/tarjoilija/zgen
[submodule "default/slimzsh"]
	path = default/slimzsh
	url = https://github.com/changs/slimzsh.git
[submodule "fisher"]
	path = fisher
	url = https://github.com/jorgebucaran/fisher
	branch = main
