[submodule "bashdot"]
	path = bashdot
	url = https://github.com/bashdot/bashdot
[submodule ".vim/pack/minpac/opt/minpac"]
	path = default/vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
