*.rendered
*.secrets
*netrwhist
*:Zone.Identifier
default/config/
default/config/nvim/pack/minpac/start/
default/jupyter/migrated
default/jupyter/lab
default/jupyter/serverconfig/
default/vim/pack/minpac/start/
