*.rendered
*.secrets
*netrwhist
default/config/configstore/
default/config/fish/
default/config/gh/
default/config/htop/
default/config/pip/
default/config/wslu
default/config/nvim/pack/minpac/start/
default/jupyter/migrated
default/jupyter/lab
default/jupyter/serverconfig/
default/vim/pack/minpac/start/
