*.rendered
*.secrets
*netrwhist
*:Zone.Identifier
default/config/.gsd-keyboard.settings-ported
default/config/Antigravity/
default/config/Code/
default/config/GNOME-xdg-terminals.list
default/config/QtProject.conf
default/config/Signal/
default/config/Unknown Organization/
default/config/autostart/
default/config/dconf/
default/config/enchant/
default/config/eog/
default/config/evince/
default/config/evolution/
default/config/fish/completions/
default/config/fish/conf.d/
default/config/fish/fish_plugins
default/config/fish/fish_variables
default/config/fish/functions/fisher.fish
default/config/git/
default/config/gnome-initial-setup-done
default/config/gthumb/
default/config/gtk-2.0/
default/config/gtk-3.0/
default/config/ibus/
default/config/libreoffice/
default/config/mimeapps.list
default/config/monitors.xml
default/config/nautilus/
default/config/nvim/pack/minpac/start/
default/config/obsidian/
default/config/pulse/
default/config/systemd/
default/config/tiling-assistant/
default/config/totem/
default/config/ubuntu-xdg-terminals.list
default/config/update-notifier/
default/config/user-dirs.dirs
default/config/user-dirs.locale
default/config/uv/
default/config/vlc/
default/config/xdg-terminals.list
default/config/yelp/
default/config/zoom.conf
default/config/zoomus.conf
default/jupyter/migrated
default/jupyter/lab
default/jupyter/serverconfig/
default/vim/pack/minpac/start/
