[url $GITHUB_NEW_URL]
	insteadof = $GITHUB_OLD_URL
[user]
	name = $GITHUB_NAME
	email = $GITHUB_EMAIL
[http]
    proxy = $GITHUB_PROXY
[core]
	filemode = false
	eol = lf
[init]
	defaultBranch = main
[core]
    # Use vim as git commit editor
	editor = vim
[merge]
    # Use vimdiff for merge conflicts
	tool = vimdiff
[mergetool]
	prompt = true
